/* Home.css */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/backhome.jpg"); 
  background-color: #ffffff; /* Change to your desired background color */
}

.profile-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(124, 178, 229);
  padding: 20px;
}

.profile-details {
  flex: 1;
  text-align: left;
}

.profile-details h2,
.profile-details h3,
.profile-details p {
  margin: 0;
}

.profile-details h2 {
  font-size: 24px;
  font-family: "Poppins Semibold";
}

.profile-details h3 {
  font-size: 40px;
  font-family: "cursive";
}

.primary-text {
  color: rgb(25, 24, 24); /* Change to your desired primary text color */
}

.highlighted-text {
  color: var(--dark-orange);
}

.profile-role-tagline {
  font-size: 19px;
  margin-top: 4px;
  font-family: "Poppins Light";
  color: rgb(45, 19, 19);
}

.profile-options .highlighted-btn {
  margin-left: 28px;
}

.profile-options .highlighted-btn:hover {
  background-color: aliceblue;
  color: black;
}

.profile-picture {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  box-shadow: 0 1px 0px 0px white; /* Change to your desired box shadow color */
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 50px;
}

.profile-picture-background {
  height: 100%;
  width: 100%;
  background-image: url("./assets/profilephoto.jpg");
  border-radius: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; /* Align background image to top-right corner */
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

/* ... Add your animations and other styles here */
